.header {
  background: $darkBlue;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;

  .nav {
    width: 90%;
    margin: 0 auto;
    padding: 2.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: padding 0.4s;

    &__logo {
      color: $clr-white;
      font-size: $font-lg;
      font-weight: bold;
    }

    &__list {
      color: $clr-white;
      font-size: $font-med;
      display: flex;

      &__item {
        margin: 0 2rem;
        transition: $transition;

        a {
          color: $clr-white;
        }

        &:hover {
          transform: scale(1.25);
          font-weight: bold;
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .header {
    .nav {
      width: 90%;

      &__list {
        &__item {
          margin: 0 1rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .header {
    .nav {
      width: 95%;

      &__list {
        &__item {
          margin: 0 1rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .header {
    position: absolute;

    .nav {
      flex-direction: column;
      padding: 1.2rem 0;

      &__logo {
        font-size: 1.6rem;
        text-align: center;
      }

      &__list {
        display: flex;
        flex-direction: column;
        text-align: center;

        &__item {
          margin: 1rem 0;
          transition: $transition;

          &:hover {
            transform: scale(1.45);
            font-weight: bold;
          }
        }
      }
    }
  }
}
