.header {
  background: $darkBlue;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;

  .nav {
    width: 90%;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: padding 0.4s;

    &__logo {
      color: $clr-white;
      font-size: $font-lg;
      font-weight: bold;
    }

    &__list {
      color: $clr-white;
      font-size: $font-med;
      display: flex;
      gap: 1.5rem;

      &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 1.2rem;
        transition: $transition;

        a {
          color: $clr-white;
        }

        &:hover {
          transform: scale(1.1);
          font-weight: bold;
        }
      }
    }

    .hamburger {
      display: none;
      cursor: pointer;
    }

    .bar {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px auto;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: white;
    }
  }
}

@media only screen and (max-width: 992px) {
  .header {
    .nav {
      width: 95%;

      &__list {
        &__item {
          margin: 0 1rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .header {
    .nav {
      width: 95%;

      .hamburger {
        display: block;
      }

      .hamburger.active .bar:nth-child(2) {
        opacity: 0;
      }
      .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }
      .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }

      .nav__list {
        position: fixed;
        top: 70px;
        left: 0;
        gap: 0;
        flex-direction: column;
        background-color: $darkBlue;
        width: 100%;
        transition: 0.3s;
        height: 0;

        &__item {
          margin: 16px 0;
          display: none;
        }
      }

      .nav__list.active {
        height: 180px;
        left: 0;
        padding-left: 3rem;
      }
      .nav__list.active .nav__list__item {
        display: block;
      }
    }
  }
}
