.portfolio {
  padding: 4rem;
  display: flex;
  text-align: center;
  justify-content: space-around;
  flex-direction: column;

  &__title {
    color: $darkGrey;
    font-size: $font-xlg;
    font-weight: bold;
    padding: 1rem;
  }

  &__icon {
    @include icon($darkGrey);
  }

  .portfolio__container {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
    padding: 1rem;

    .portfolio__item {
      position: relative;
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        border-radius: 0.8rem;
      }

      .item_hover {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(26, 188, 156, 0.8);
        border-radius: 0.8rem;
        opacity: 0;
        font-size: 45px;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: linear 0.3s all;
      }

      &:hover .item_hover{
        opacity: 1;
      }
    }
  }
}

@media only screen and (max-width: 992px){
  .portfolio {

    .portfolio__container{
      grid-template-columns: auto auto;
    }
  }
}

@media only screen and (max-width: 767px){
  .portfolio {

    .portfolio__container{
      grid-template-columns: auto;
    }
  }
}
