@import "root";
@import "mixins";
@import "header";
@import "banner";
@import "portfolio";
@import "about";
@import "contact";
@import "information";
@import "footer";


.activeBg{
    width: max-content;
    background-color: $lightGreen;
    border-radius: 0.4rem;
    height: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}